.card-title
{
    text-align:center;
}

.card-text
{
    text-align:center;
}

.set
{
    text-align: center;
}



.class2
{
    color: yellow;
    margin-left: 16vw;
}


.class1
{
    background-color:blue;
    color: white;
} 

.class3
{
    color: grey;
    text-align: center;
}